<h3>プロフィール</h3>

<table>
  <tr>
    <th>アイコン画像</th>
    <% if @user.image.attached? %>
      <td><%= image_tag @user.image %></td>
    <% else %>
      <%= image_tag 'default-image-user.png', :alt => 'ユーザーのデフォルト画像' %>
    <% end %>
  </tr>

  <tr>
    <th>名前</th>
    <td><%= @user.name %></td>
  </tr>

  <tr>
    <th>自己紹介</th>
    <td><%= @user.introduction %></td>
  </tr>
</table>
