<h3>マイページ</h3>

<table>
  <tr>
    <th>アイコン画像</th>
    <td><%= @user.icon_image %></td>
  </tr>
  <tr>
    <th>名前</th>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <th>自己紹介</th>
    <td><%= @user.introduction %></td>
  </tr>
</table>
