// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


//index.html.erb
.rooms_index_container {
  overflow-x: auto;
  white-space: nowarp;
  .room {
    border-collapse: collapse;
  }
  th {
    padding: 10px;
    border: 2px solid $border-color;
    font-size: 18px;
    white-space: nowrap;
  }
  td {
    text-align: center;
    vertical-align: middle;
    border: 2px solid $border-color;
    font-size: 16px;
    white-space: nowrap;
  }
  .room_name {
    font-size: 22px;
    .link {
      color: $letter-color;
    }
  }
  .room_image_container {
    width: 140px;
    height: 100px;
  }
  .room_image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .room_introduction {
    text-align: left;
    padding: 10px;
  }
  .room_chargePerNight {
    padding: 10px;
  }
  .room_createdAt {
    padding: 10px;
  }
}

//show.html.erb
.rooms_show_container {
  .room {
    border-collapse: collapse;
    width: 50%;
    margin-bottom: 20px;
  }
  th {
    padding: 10px;
    border: 2px solid $border-color;
    width: 25%;
    white-space: nowrap;
    vertical-align: middle;
  }
  td {
    border: 2px solid $border-color;
    width: 75%;
  }
  .room_image {
    width: 100%;
    display: block;
  }
  .room_introduction {
    padding: 10px;
  }
  .room_chargePerNight {
    padding: 10px;
  }
  @media screen and (max-width:800px) {
    .room {
      width: 100%;
    }
  }
}
