<h3>登録宿一覧</h3>

<div>
  <% @rooms.each do |room| %>
    <ul>
      <li><%= link_to room.name, user_room_path(@user,room.id) %></li>
      <li><%= room.introduction %></li>
      <li><%= room.charge_per_night %>円</li>
      <li><%= room.created_at %></li>
    </ul>
  <% end %>
</div>
