<h3>登録宿一覧</h3>

<div>
  <% @room.each do |room| %>
    <ul>
      <li><%= room.name %></li>
      <li><%= room.introduction %></li>
      <li><%= room.charge_per_night %>円</li>
      <li><%= room.created_at %></li>
    </ul>
  <% end %>
</div>
