$base-color: #6088C6;
$main-color: #4072B3;
$sub-color: #AEC4E5;
$accent-color: #EB8686;
$letter-color: #fff;
$border-color: #C0C0C0;

$container-width: 1200px;

$h1Heading-size: 32px;
$h2Heading-size: 28px;



